.custom-header {
    background-color: #451da0;
    height: 64px;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.header-menu {
    color: white;
}

.header-menu-item {
    color: white;
    font-weight: 600;
}

.item-nav-top {
    color: white;
    font-weight: 600;
}

.language-select .ant-select-arrow, .language-select .ant-select-selection-item {
    color: white;
    font-weight: 600;
}

.language-select .ant-select-selection-item {
    color: white !important;
    font-weight: 600;
}

.notification-icon {
    cursor: pointer;
}